@import '../../styles/settings.scss';

.formCard {
    display: flex;
    flex-direction: column;
    padding: 64px;
    margin-top: 40px;
    max-width: 603px;
    min-width: 220px;
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: 24px;

}