@import '../../styles/settings.scss';

.validationMessage {
    font-family: $font-form;
    font-weight: 400;
    font-size: 14px;
    color: $color-dark;
    letter-spacing: 0.04em;
    line-height: 170%;

    .valid {
        color: $color-success;
    }

    p {
        margin: 0;
        padding: 0; 
    }

    
    
    
}



