// Typography

$font-title: Eczar, serif;
$font-main: "Roboto Mono", sanf-serif;
$font-form: Roboto, sans-serif;


// Colors

$color-dark: #343541;
$color-light: #85868D;
$color-brand: #EC1115;
$color-reverse: #fff;
$color-label: #F47073;
$color-action: #A60C0E;
$color-success: #27AE60;
$color-input-background: #F7F7F7;

