@import '../../styles/settings.scss';

.inputField {
    display: flex;
    flex-direction: column;

    label {
        font-family: $font-main;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: $color-label;
        margin: 12px 0;
    }

    input {
        
        margin-bottom: 8px;
        border-radius: 8px;
        background-color: $color-input;
        border: none;
        height: 56px;
        text-indent:24px;
        

        &::placeholder {
            font-family: $font-form;
            font-size: 16px; 
        }

        &:placeholder-shown {
            text-overflow: ellipsis;
        }
    
        &:hover {
            background-color: $color-input-hover;
        }
    
        &:focus {
            background: $color-input-active;
            border: 1px solid $color-input-border-active;
        }

        &[type="date"]{
            text-indent: 0px;
            padding: 0 24px;
            font-family: $font-form;
        }

        
    }



    
    

}