@import '../../styles/settings.scss';

.pageSubtitle {
    font-family: $font-title;
    color: $color-light;
    font-weight: 600;
    font-size: 80px;
    line-height: 102%;
    letter-spacing: -0.01em;
}